on:
  push:
  pull_request:
  workflow_dispatch:

name: Checks

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install Rust
        id: rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: 'true'
          cache-on-failure: false

      - name: Run cargo check
        run: cargo check --all-features

      - name: Run pre-commit
        run: cargo clippy --all-features
